.form-section h2 {
    display: block;
    width: 100%;
    margin-bottom: 15px; /* Augmenté pour plus de clarté */
}

.form-section {
    display: block;
    width: 100%;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-section input,
.form-section select,
.form-section button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-section input[type="number"] {
    max-width: 150px;
}

.form-section button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-section button:hover {
    background-color: #0056b3;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transactions-table th,
.transactions-table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.transactions-table th {
    background-color: #f2f2f2;
}
