<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion - Pay My Buddy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-container">
        <h1>Pay My Buddy</h1>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Mail" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</body>
</html>