<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion - Pay My Buddy</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Pay My Buddy</h1>
        <form th:action="@{/login}" method="post">
            <input type="email" name="email" placeholder="Mail" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>

        <!-- Message d'erreur d'input au login -->
        <div th:if="${param.error}" class="error-message">
            Wrong username or password.
        </div>

        <!-- Message de logout -->
        <div th:if="${param.logout}" class="logout-message">
            Vous avez été déconnecté avec succès.
        </div>

        <!-- Bouton pour aller à la page d'inscription -->
        <div class="register-link">
            <p>Pas encore de compte ?</p>
            <a th:href="@{/register}" class="register-button">S'inscrire</a>
        </div>

    </div>
</body>
</html>