<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion - Pay My Buddy</title>
<!--    <link rel="stylesheet" href="/css/login.css">-->
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
    <!-- Lien d'accès rapide -->
    <a href="#email" class="skip-link">Aller au champ de saisie</a>

    <main class="login-container">

        <h1>Pay My Buddy</h1>

        <form th:action="@{/login}" th:object="${loginRequest}" method="post">

            <label for="email" class="invisible-label">Adresse email</label>
            <input id="email" type="email" name="email" placeholder="Mail" required aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Entrez votre adresse email</small>

            <label for="password" class="invisible-label">Mot de passe</label>
            <input id="password" type="password" name="password" placeholder="Mot de passe" required aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">Entrez votre mot de passe</small>

            <button type="submit" aria-label="Se connecter avec l'email et le mot de passe envoyé">Se connecter</button>

        </form>

        <!-- Message de confirmation d'inscription -->
        <div th:if="${param.success}" class="success-message">
            Inscription effectuée avec succès.
        </div>

        <!-- Message d'erreur d'input au login -->
        <div th:if="${param.error}" class="error-message" role="alert" aria-live="assertive">
            Mauvais password ou username.
        </div>

        <!-- Bouton pour aller à la page d'inscription -->
        <div class="register-link">
            <p>Pas encore de compte ?</p>
            <a th:href="@{/register}" class="register-button" role="link" aria-label="Aller à la page d'inscription">S'inscrire</a>
        </div>

        <!-- Message de logout -->
        <div th:if="${param.logout}" class="success-message">
            Vous avez été déconnecté avec succès.
        </div>
    </main>
</body>

</html>