<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'inscription - Pay My Buddy</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div class="registration-container">
    <h1>Pay My Buddy</h1>
    <form th:action="@{/register}" method="post">
        <input type="text" name="username" placeholder="username" required>
        <input type="email" name="email" placeholder="Mail" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">S'inscrire</button>
    </form>

    <!-- Section pour afficher le message d'erreur -->
    <div th:if="${param.error}" class="error-message">
        <p>Email already exists. Please try another one.</p>
    </div>
</div>
</body>
</html>
