<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'inscription - Pay My Buddy</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>

<div class="registration-container">

    <h1>Pay My Buddy</h1>

    <form th:action="@{/register}" th:object="${registerRequest}" method="post">
        <input type="text" th:field="*{username}" placeholder="username" required>
        <input type="email" th:field="*{email}" placeholder="Mail" required>
        <input type="password" th:field="*{password}" placeholder="Mot de passe" required>
        <button type="submit">S'inscrire</button>
    </form>

    <!-- Section pour afficher les messages d'erreur provenant des méthodes -->
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Section pour afficher les messages d'erreur provenant de la validation -->
    <div th:if="${errorMessages}" class="error-message">
        <ul>
            <li th:each="msg : ${errorMessages}">
                <span th:text="${msg}"></span>
            </li>
        </ul>
    </div>
</div>

</body>

</html>
